body{
    font-family: 'Lato', sans-serif;
}
.stripes{
    display: flex;
    align-items: center;
    justify-content: center;
}
div {
    display: block;
}
.stripcontent{
    color: white;
    font-size: 2.4em;
    width: 20vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*EACH INDIVIDUAL STRIP*/
#strip1{
    background-color:#244F75;
}
#strip2{
    background-color:#60BFBF;
}
#strip3{
    background-color:#8C4B7E;
}
#strip4{
    background-color:#F8BB44;
}
#strip5{
    background-color:#F24B4B;
}